<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->


<div class="sidenav">
  <div class="login-main-text">
    <h2>APPLICACION<br> Login Page</h2>
    <p>SISTEMA DE PROSPECTOS V0.1.</p>
  </div>
</div>

<div class="main">
  <div class="col-md-6 col-sm-12">

    <div class="login-form">
      <form (ngSubmit)="login()" id="login">
        <div class="form-group">
          <label>Usuario</label>
          <input type="text" class="form-control" placeholder="Usuario" [(ngModel)]="usuario.nombre"
            [ngModelOptions]="{standalone:true}" required>
        </div>
        <div class="form-group">
          <label>Contraseña</label>
          <input type="password" class="form-control" placeholder="Contraseña" [(ngModel)]="usuario.pass"
            [ngModelOptions]="{standalone:true}" required>
        </div>
        <button type="submit" class="btn btn-black">Login</button>
      </form>
      <br>

      <div class="row" *ngIf="errorInicio">
        <label class="float-right" style="color:brown;">ERROR: Usuario o contraseña invalidos</label>
      </div>
    </div>
  </div>
</div>


